.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
