@font-face {
  font-family: "MapoGoldenPier";
  src: url("./SCDream1.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("./AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

